.user-avatar {
	position: relative;
	background-color: #f9f9f9;
	margin-bottom: 5px;
}
.user-header {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 30px;
	height: 40px;
	width: 40px;
	margin: auto;
	border-radius: 50%;
	background-color: #efefef;
	overflow: hidden;
}

.user-email {
	padding: 40px 15px 40px 90px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.text-base {
	font-size: 16px;
	line-height: 1.5;
}

.user-avatar-img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	border-radius: 50%;
	vertical-align: middle;
}