@using CampusResourceSharingPlatform.Web.Areas.Distribute.Pages
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<link href="~/css/Distribute/side.css" rel="stylesheet" />

<ul class="nav nav-pills flex-column distribute-nav">
	<li class="nav-item"><a class="nav-link distribute-sidebar-nav @DistributeNavPages.TakeExpressNavClass(ViewContext)" id="profile" asp-page="./TakeExpress">
		<h5><i class=""></i></h5>
		<p>帮我买</p>
	</a></li>
	<li class="nav-item"><a class="nav-link distribute-sidebar-nav @DistributeNavPages.TakeOrderNavClass(ViewContext)" id="role" asp-page="./TakeOrder">
		<h5><i class=""></i></h5>
		<p>帮我买</p>
	</a></li>
	<li class="nav-item"><a class="nav-link distribute-sidebar-nav @DistributeNavPages.PurchaseNavClass(ViewContext)" id="users" asp-page="./Purchase">
		<h5><i class=""></i></h5>
		<p>帮我买</p>
	</a></li>
</ul>
