<link href="~/css/Distribute/side.css" rel="stylesheet" />

<ul class="nav nav-pills flex-column distribute-nav">
	<li class="nav-item distribute-nav-item">
		<a class="nav-link distribute-sidebar-nav @DistributeNavPages.TakeExpressNavClass(ViewContext)" id="takexpress" asp-page="./TakeExpress">
			<h5><i class=""></i></h5>
			<p>快递</p>
		</a>
	</li>
	<li class="nav-item distribute-nav-item">
		<a class="nav-link distribute-sidebar-nav @DistributeNavPages.PurchaseNavClass(ViewContext)" id="purchase" asp-page="./Purchase">
			<h5><i class=""></i></h5>
			<p>买</p>
		</a>
	</li>
	<li class="nav-item distribute-nav-item">
		<a class="nav-link distribute-sidebar-nav @DistributeNavPages.SaleNavClass(ViewContext)" id="sale" asp-page="./Sale">
			<h5><i class=""></i></h5>
			<p>跳蚤市场</p>
		</a>
	</li>
	<li class="nav-item distribute-nav-item">
		<a class="nav-link distribute-sidebar-nav @DistributeNavPages.HireNavClass(ViewContext)" id="hire" asp-page="./Hire">
			<h5><i class=""></i></h5>
			<p>租借</p>
		</a>
	</li>
</ul>
