@page
@using CampusResourceSharingPlatform.Web.Areas.Distribute.Pages
@model CampusResourceSharingPlatform.Web.Areas.Distribute.Pages.BuyModel
@{
	Layout = "_Layout";
	ViewData["ActivePage"] = DistributeNavPages.Buy;
}
<h3>帮我买</h3>


<p>帮我买</p>
