@page
@using CampusResourceSharingPlatform.Web.Areas.Distribute.Pages
@model CampusResourceSharingPlatform.Web.Areas.Distribute.Pages.HireModel
@{
	Layout = "_Layout";
	ViewData["ActivePage"] = DistributeNavPages.Hire;
}

<h3>租借</h3>

