@page
@using CampusResourceSharingPlatform.Web.Areas.Distribute.Pages
@model CampusResourceSharingPlatform.Web.Areas.Distribute.Pages.TakeOrderModel
@{
	Layout = "_Layout";
	ViewData["ActivePage"] = DistributeNavPages.TakeOrder;
}

<h3>帮我排队</h3>


<p>帮我排队</p>