@page
@using CampusResourceSharingPlatform.Web.Areas.Distribute.Pages
@model CampusResourceSharingPlatform.Web.Areas.Distribute.Pages.TakeModel
@{
	Layout = "_Layout";
	ViewData["ActivePage"] = DistributeNavPages.Take;
}

<h3>帮我取</h3>


<p>帮我取</p>
<p>帮我取</p>
<p>帮我取</p>
<p>帮我取</p>
<p>帮我取</p>
