@model IEnumerable<License>

@{
	ViewBag.Title = "关于";
	Layout = "_Layout";
}

<div class="jumbotron">
	<h1>关于</h1>
</div>

<div class="accordion" id="accordionExample">
	<div class="card">
		<div class="card-header" id="headingOne">
			<h2 class="mb-0">
				<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
				        aria-expanded="true" aria-controls="collapseOne">
					开发者
				</button>
			</h2>
		</div>

		<div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
		     data-parent="#accordionExample">
			<div class="card-body">
				<div class="card mb-3" style="max-width: 540px;">
					<div class="row no-gutters">
						<div class="col-md-5">
							<img src="/images/developer.jpg" class="card-img" alt="TioaTyan">
						</div>
						<div class="col-md-7">
							<div class="card-body">
								<h5 class="card-title">TioaTyan</h5>
								<p class="card-text" style="color: #636363;">
									设计 & 开发
								</p>
								<p class="card-text">
									吾甚咸，此鱼何能及吾也
								</p>
								<p class="card-text">
									<small class="text-muted">
										<a href="https://github.com/TioaTyan">去GitHub围观</a>
										<svg class="bi bi-box-arrow-up-right" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" d="M3.5 15A1.5 1.5 0 005 16.5h8a1.5 1.5 0 001.5-1.5v-4a.5.5 0 00-1 0v4a.5.5 0 01-.5.5H5a.5.5 0 01-.5-.5V7a.5.5 0 01.5-.5h4a.5.5 0 000-1H5A1.5 1.5 0 003.5 7v8zm7-11a.5.5 0 01.5-.5h5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V4.5H11a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
											<path fill-rule="evenodd" d="M16.354 3.646a.5.5 0 010 .708l-8 8a.5.5 0 01-.708-.708l8-8a.5.5 0 01.708 0z" clip-rule="evenodd"/>
										</svg>
									</small>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header" id="headingTwo">
			<h2 class="mb-0">
				<button class="btn btn-link collapsed" type="button" data-toggle="collapse"
				        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					隐私声明
				</button>
			</h2>
		</div>
		<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
			<div class="card-body">
				<p>TODO</p>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header" id="headingThree">
			<h2 class="mb-0">
				<button class="btn btn-link collapsed" type="button" data-toggle="collapse"
				        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					开源协议
				</button>
			</h2>
		</div>
		<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
			<div class="card-body">
				<h4>版权声明</h4>
				<p>Copyright &copy; @DateTime.Now.Year.ToString() TioaTyan.</p>
				<h5>免责声明</h5>
				<p>TODO</p>
				<h5>开源协议说明</h5>
				<p>本软件遵照GPL3.0协议开放源代码，您必须在遵守<a href="https://github.com/TioaTyan/CampusResourceSharingPlatform/blob/master/LICENSE">GNU通用公共许可证协议</a>
					<svg class="bi bi-box-arrow-up-right" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M3.5 15A1.5 1.5 0 005 16.5h8a1.5 1.5 0 001.5-1.5v-4a.5.5 0 00-1 0v4a.5.5 0 01-.5.5H5a.5.5 0 01-.5-.5V7a.5.5 0 01.5-.5h4a.5.5 0 000-1H5A1.5 1.5 0 003.5 7v8zm7-11a.5.5 0 01.5-.5h5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V4.5H11a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
						<path fill-rule="evenodd" d="M16.354 3.646a.5.5 0 010 .708l-8 8a.5.5 0 01-.708-.708l8-8a.5.5 0 01.708 0z" clip-rule="evenodd"/>
					</svg>
					的前提下自由传播和修改本软件。</p>
				开源地址：<a href="https://github.com/TioaTyan/CampusResourceSharingPlatform">Github</a>
				<svg class="bi bi-box-arrow-up-right" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M3.5 15A1.5 1.5 0 005 16.5h8a1.5 1.5 0 001.5-1.5v-4a.5.5 0 00-1 0v4a.5.5 0 01-.5.5H5a.5.5 0 01-.5-.5V7a.5.5 0 01.5-.5h4a.5.5 0 000-1H5A1.5 1.5 0 003.5 7v8zm7-11a.5.5 0 01.5-.5h5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V4.5H11a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
					<path fill-rule="evenodd" d="M16.354 3.646a.5.5 0 010 .708l-8 8a.5.5 0 01-.708-.708l8-8a.5.5 0 01.708 0z" clip-rule="evenodd"/>
				</svg>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header" id="headingFour">
			<h2 class="mb-0">
				<button class="btn btn-link collapsed" type="button" data-toggle="collapse"
				        data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
					开源许可证
				</button>
			</h2>
		</div>
		<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
			<div class="card-body">
				<ul>
					@foreach (var a in Model)
					{
						<li id="Licenses_@a.Id">
							<a href="@a.RepoUrl" target="_blank">
								@a.LicenseName&nbsp;:&nbsp;@a.LicenseType
							</a>
						</li>
					}
				</ul>
			</div>
		</div>
	</div>
</div>