@{
    Layout = "/Areas/ControlPanel/Pages/_Layout.cshtml";
}

<h1>User Manage</h1>

<div>
    <h4>User Manage</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_UsersNav" />
        </div>
	    <div class="col-md-9">
		    <partial name="_StatusMessage" model="Model.StatusMessage"/>
		    @RenderBody()
	    </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
