@{
	Layout = "/Pages/Shared/_Layout.cshtml";
}
<div>
	<partial name="_StatusMessage" model="Model.StatusMessage" />
	<div class="row">
		@RenderBody()
	</div>
</div>

@section Scripts {
	@RenderSection("Scripts", required: false)
}