@page
@model CampusResourceSharingPlatform.Web.Areas.Posts.Pages.HireModel
@{
	Layout = "_Layout";
	ViewData["Title"] = "租借";
}
<h5>hire</h5>
<h4>@Model.HirePost.MissionName</h4>
<img src="@Model.HirePost.GoodsPhotoUrl" alt="Alternate Text" style="width: 200px;" />
<form method="post">
	@if (Model.StudentIdentityConfirmed)
	{
		@if (Model.HirePost.PostUserId == Model.currentUserId)
		{
			<a class="btn btn-secondary" asp-page-handler="EditMission" asp-page="Hire" asp-area="Distribute" asp-route-postId="@Model.HirePost.Id">任务修改</a>
			<button type="submit" class="btn btn-warning" asp-page-handler="MakeMissionExpire">任务下架</button>
			<button type="submit" class="btn btn-danger" asp-page-handler="DeleteMission">删除任务</button>
		}
		else
		{
			<button type="submit" class="btn btn-primary" asp-page-handler="AcceptMission">领取任务</button>
		}
	}
</form>