@page
@model CampusResourceSharingPlatform.Web.Areas.Posts.Pages.PurchaseModel
@{
	Layout = "_Layout";
	ViewData["Title"] = "出租";
}
<h5>hire</h5>
@Model.PurchasePost.MissionName
<form method="post">
	@if (Model.StudentIdentityConfirmed)
	{
		@if (Model.PurchasePost.PostUserId == Model.CurrentUserId)
		{
			<a class="btn btn-secondary" asp-page-handler="EditMission" asp-page="Purchase" asp-area="Distribute" asp-route-postId="@Model.PurchasePost.Id">任务修改</a>
			<button type="submit" class="btn btn-warning" asp-page-handler="MakeMissionExpire">任务下架</button>
			<button type="submit" class="btn btn-danger" asp-page-handler="DeleteMission">删除任务</button>
		}
		else
		{
			<button type="submit" class="btn btn-primary" asp-page-handler="AcceptMission">领取任务</button>
		}
	}
</form>