@model CampusResourceSharingPlatform.Web.Pages.IndexModel
@{
	var hours = DateTime.UtcNow.ToLocalTime().Hour;
	var text = "欢迎";
	if (hours >= 0 && hours <= 10) 
	{
		text = "早上好";
	}
	else if (hours > 10 && hours <= 14)
	{
		text = "中午好";
	}
	else if (hours > 14 && hours <= 18)
	{
		text = "下午好";
	}
	else if (hours > 18 && hours <= 24)
	{
		text = "晚上好";
	}
}
<h3 class="mb-2">@text，@Model.IndexPage.UserName!</h3>
<partial name="_StatusMessage" model="Model.IndexPage.IndexPageStatusMessage" />
<div class="container">
	<partial name="~/Pages/IndexPartial/IndexPageNavPartial.cshtml" />
</div>
