@model CampusResourceSharingPlatform.Web.Pages.IndexModel
<link href="~/css/pills.css" rel="stylesheet" />
<script src="~/js/indexnavbar.js"></script>
<div class="row border rounded-lg sticky-top bg-white" id="pill-navbar">
	<ul class="nav nav-pills nav-fill col-9" id="pills-tab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active " id="pills-home-tab" data-toggle="pill" href="#pills-takexpress" role="tab" aria-controls="pills-takexpress" aria-selected="true">帮我领快递</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="pills-purchase-tab" data-toggle="pill" href="#pills-purchase" role="tab" aria-controls="pills-purchase" aria-selected="false">帮我买</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="pills-flea-market-tab" data-toggle="pill" href="#pills-flea-market" role="tab" aria-controls="pills-flea-market" aria-selected="false">跳蚤市场</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="pills-hire-tab" data-toggle="pill" href="#pills-hire" role="tab" aria-controls="pills-hire" aria-selected="false">租借</a>
		</li>
	</ul>
	<div class="tab-content col-3 pills-btnContent">
		@if (Model.IndexPage.IsShowNavFunction)
		{
			<a class="nav-link btn-primary text-center" id="navbar-btn" asp-area="Distribute" asp-page="TakeExpress">立即下单</a>
		}
		else
		{
			<a class="nav-link btn-warning text-center" asp-area="Identity" asp-page="/Account/Manage/StudentIdentity">学生认证</a>
		}
	</div>
</div>

<div class="tab-content row mt-2" id="pills-tabContent">
	<div class="tab-pane fade show active pills-tab-item" id="pills-takexpress" role="tabpanel" aria-labelledby="pills-takexpress-tab">
		<partial name="~/Pages/IndexPartial/_IndexPillsTakeExpressPartial.cshtml" />
	</div>

	<div class="tab-pane fade pills-tab-item " id="pills-purchase" role="tabpanel" aria-labelledby="pills-purchase-tab">
		<partial name="~/Pages/IndexPartial/_IndexPillsPurchasePartial.cshtml" />
	</div>

	<div class="tab-pane fade pills-tab-item" id="pills-flea-market" role="tabpanel" aria-labelledby="pills-flea-market-tab">
		<partial name="~/Pages/IndexPartial/_IndexPillsFleaMarketPartial.cshtml" />
	</div>

	<div class="tab-pane fade pills-tab-item" id="pills-hire" role="tabpanel" aria-labelledby="pills-hire-tab">
		<partial name="~/Pages/IndexPartial/_IndexPillsHirePartial.cshtml" />
	</div>
</div>