 .pills-tab-item { 
 	width: 100%; 
 } 
 
 .pill-card-item { 
 	width: 100%; 
 } 
 
 @media(min-width: 576px) { 
 	.pill-card-item { 
 		width: 17.1rem; 
 	} 
 } 
 
 @media(min-width: 768px) { 
 	.pill-card-item { 
 		width: 20.625rem; 
 	} 
 } 
 
 @media(min-width: 992px) { 
 	.pill-card-item { 
 		width: 18.125rem; 
 	} 
 } 
 
 @media(min-width: 1200px) { 
 	.pill-card-item { 
 		width: 15.925rem; 
 	} 
 }

#pills-tab {
	line-height: 42px;
	padding: 0;
}

 .pills-btnContent {
	 line-height: 42px;
	 padding: 0;
 }
 .pills-btnContent>a {
	 height: 100%;
 }

 .btn-nav {
	 line-height: 40px;
 }

 .nav-pills .nav-link.active,
 .nav-pills .show > .nav-link {
	 border-radius: 1ch;
	 height: 38px;
	 margin: 10px;
	 line-height: 22px;
	 border-radius: 50rem !important;
 }