@using CampusResourceSharingPlatform.Model
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
	ViewData["Title"] = "Index";
	
}

<h1>Index</h1>
<div>欢迎，@UserManager.GetUserAsync(User).Result.NickName!</div>
<partial name="_StatusMessage" model="Model.StatusMessage" />