@{
	Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="row">
	<div class="col-md-3 col-xl-3 col-sm-4">
		<partial name="_UserPartial"/>
	</div>
	<div class="col-md-9 col-xl-9 col-sm-8">
		<partial name="_StatusMessage" model="Model.StatusMessage" />
		<partial name="_UCNav"/>
		@RenderBody()
	</div>
</div>

