@page
@model CampusResourceSharingPlatform.Web.Areas.i.Pages.IndexModel
@{
	Layout = "_Layout";
	ViewData["Title"] = "Dashboard";
	ViewData["ActivePage"] = UserCenterNavPages.Index;
}

<h4>Dashboard</h4>