@using CampusResourceSharingPlatform.Web.Views.Manage
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<link rel="stylesheet" href="/css/Manage/nav.css">
<ul class="nav nav-pills flex-column">
	<li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="personal-data" asp-action="Index">Site Overview</a></li>

	<li class="nav-item"><a class="nav-link @ManageNavPages.RoleManageNavClass(ViewContext)" id="role-manage" asp-action="Role">Role Manage</a></li>
</ul>
