@model IndexModel

<form id="nickname-form" method="post">
	<div class="form-group">
		<label asp-for="NickName.NewNickName"></label>
		<input asp-for="NickName.NewNickName" class="form-control" />
		<span asp-validation-for="NickName.NewNickName" class="text-danger"></span>
	</div>
	<button id="update-nick-name-button" type="submit" class="btn btn-primary" asp-page-handler="NickName">Save</button>
</form>