@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IndexModel

<form id="phonenumber-form" method="post">
	<div class="form-group">
		<label asp-for="Input.PhoneNumber"></label>
		<input asp-for="Input.PhoneNumber" class="form-control" />
		<span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
	</div>
	<button id="update-phone-number-button" type="submit" class="btn btn-primary" asp-page-handler="PhoneNumber">Save</button>
</form>