@page
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IndexModel
@{
	ViewData["Title"] = "Profile";
	ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<link rel="stylesheet" href="/css/Manage/avatar.css">

<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row">
	<div class="col-md-6">

		<partial name="_ManageAvatar" />

		<hr />

		<div class="form-group">
			<label asp-for="Username"></label>
			<input asp-for="Username" class="form-control" disabled />
		</div>

		<partial name="_ManageNickName" />

		<partial name="_ManagePhoneNumber" />
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}