@{
    Layout = "/Areas/ControlPanel/Pages/_Layout.cshtml";
}

<h1>Control Panel Index</h1>

<div>
    <h4>Control Panel Index</h4>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-10">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
