@page
@model IndexModel
@{
	Layout = "_Layout";
	ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="card">
	<div class="card-header">
		User Count
	</div>
	<div class="card-body">
		<h5 class="card-title">现存用户数量</h5>
		<p class="card-text">@Model.UserCount.</p>
		<a asp-area="ControlPanel" asp-page="./Users/Index" class="btn btn-primary">Go somewhere</a>
	</div>
</div>
<br />
<div class="card">
	<div class="card-header">
		Role Count
	</div>
	<div class="card-body">
		<h5 class="card-title">有效角色数量</h5>
		<p class="card-text">@Model.RoleCount</p>
		<a asp-area="ControlPanel" asp-page="./Role/Index" class="btn btn-primary">Go somewhere</a>
	</div>
</div>
<br />
<div class="card">
	<div class="card-header">
		Post Count
	</div>
	<div class="card-body">
		<h5 class="card-title">有效发布数量</h5>
		<p class="card-text">@Model.PostsCount</p>
		<a asp-area="ControlPanel" asp-page="./Post/Index" class="btn btn-primary">Go somewhere</a>
	</div>
</div>

